    body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/**Global**/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.stretch {
    width: 96px;
    height: 96px;
}

/**Header**/
header {
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #334185 3px solid;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;  
    color: #000000;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header a:hover {
    font-weight: bold;
    color: #334185;
}

header #branding {
    float: left;
}

header #branding h1 { 
    margin: 0;
    border: #000000 1px solid;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}

header nav {
    float: right;
    margin-top: 10px;
}
header #branding span {
    font-weight: bold;
    color: #334185;
}

header .current a{
    color: #334185;
    font-weight: bold;
}


/**Showcase**/
#showcase {
    min-height: 400px; 
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/showImage.jpg) no-repeat 0 -70px;
    background-color: #27aeb2;
    color: #000000;
    background-size: cover;
}

#showcase .descript{
    color: #ffffff;
    opacity: 0.4;
    min-height: 50px;
    border-radius: 63px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.descript h1 {
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/**Boxes (eat, code, sleep and repeat)**/
#boxes {
    margin-top: 10px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 20%;
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
} 

/**programming languages**/
#prog-lang {
    margin-top: 20px; 
}

#prog-lang .prog {
    float: left;
    text-align: center;
    width: 45%;
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
}

#prog-lang .prog p {
    width: 50%;
    margin-left: 120px;
    text-align: center;
    float: left;
}

/*Profile*/
#profile {
    min-height: 700px;
}

#pic{
    float: right;
    margin-top: 20px;
    margin-right: 100px;
}

#pic p {
    font-size: 20px;
}

#pic img{
    border: #034D3d 3px solid;
}

#prof-info {
    margin-top: 50px;   
}

#prof-stretch {
    width: 250px;
    height: 250px;
}

/**Pictures**/

#pictures {
    min-height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/lc-view.jpg') no-repeat 0 -200px;
    background-size: cover;
}

.view-stretch {
    width: 100%;
    height: 80%;
}

/**About**/
#about {
    min-height: 400px;
}


/**footer**/
footer {
    background-color: #334185;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}